.file-upload {
  display: flex;
  align-items: center;

  & label {
    background-color: var(--shape-button);
    padding: 0.656rem .75rem;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    margin-bottom: 0;

    &:hover {
      background-color: var(--shape-hover);
    }
  }


}

#file-name {
  margin-left: 0.625rem;
  color: var(--input-placeholder);
}

.check {
  margin-top: 1rem;
}