.radio-wrapper-theme {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8.375rem, 1fr));
  gap: 8px;
}

.radio-inner {
  background-color: var(--shape-button);
  padding: 0.25rem;
  border-radius: .5rem;
  display: grid;
  justify-items: center;
  cursor: pointer;
  position: relative;

  & input,
  & input:focus,
  & input:hover {
    all: unset;
    position: absolute;
    appearance: none;
    inset: 0;
  }

  & img {
    width: 100%;
  }

  & label {
    margin: 8px 0;
  }

  &:hover {
    background-color: var(--shape-hover);
  }

  &:focus-within,
  &:has(:checked) {
    outline: 2px solid var(--brand-light);
    background-color: var(--shape-button);
  }
}