@import url(fields/index.css);

fieldset {
  border: none;
  display: grid;
  margin-bottom: 3rem;
}

legend {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1.5rem;

  & span {
    width: 24px;
    height: 24px;
  }
}