@import url(fields/index.css);

fieldset {
  border: none;
  display: grid;
}

legend {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}

fieldset+fieldset {
  margin-bottom: 3rem;
}