#app {
  display: grid;
  grid-template-columns: 32.78% 66%;
  height: 100vh;
  overflow: hidden;
  padding: 1.25rem;
  gap: 1.25rem;
}

aside {
  background: url(../assets/background-aside.webp) no-repeat center;
  background-size: cover;
  border-radius: 0.75rem;
  padding: 2rem;
}

main {
  overflow: auto;
  padding: 80px 130px;
  background-color: var(--shape-body);
  border-radius: 0.75rem;

  & .main-container {
    max-width: 35rem;
  }

  & h1 {
    margin-bottom: 2.5rem;
  }
}